.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #fff;
}
.screen {
  height: 50px;
  width: 200px;
  text-align: right;
  border-radius: 2px;
  background: linear-gradient(145deg, #d2cbcb, #f9f2f2);
  box-shadow: 25px 25px 51px #807c7c, -25px -25px 51px #ffffff;
}
.parent {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0px;
}

.div0 {
  grid-column: 4/5;
}

.same {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: linear-gradient(145deg, #f9f2f2, #d2cbcb);
  box-shadow: 5px 5px 15px #827f7f, -5px -5px 15px #ffffff;
}
